---
import Telegram from "../../assets/Telegram.svg";
const { data } = Astro.props;
---

<section id={data.id} class="py-20 bg-gradient-to-r from-blue-950 to-purple-950">
    <div class="max-w-screen-xl mx-auto px-6 text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-white mb-4">{data.title}</h2>
        <p class="text-lg text-gray-300 max-w-2xl mx-auto mb-8">{data.description}</p>
        <a class="text-white inline-flex items-center gap-3 px-8 py-4 bg-blue-600 hover:bg-blue-700 font-bold rounded-lg transition-colors text-lg" href={data.href}>
            <Telegram class="w-6 h-6" />
            {data.action}
        </a>

    </div>
</section>
